{% extends 'appGeneral/components/basepage.html' %}

{% block siteTitle %}FahDeng | Homepage{% endblock %}

{% block siteContents %}
    <div>
        <h1>FAHDENH | TABLEPAGE</h1>
    </div>

{% for subject in table %}
<div class="{{ subject.day }} {{ subject.period }}">
    <hr>
        <a href="{% url 'changeTablePage' subject.grade %}">{{ subject.grade }}</a>
        <p>{{ subject.codeSubject }}</p>
        <p>{{ subject.teacherName }}</p>
        <p>{{ subject.codeRoom }}</p>
        <p>{{ subject.lastLecture | date:"j N Y" }}</p>
    </div>
{% endfor %}

{% endblock %}